.dex {
    width: 100px;
    height: auto;
    border-radius: 0%;
    display: block;
    margin: 0 auto;
}

.x {
    width: 100px;
    height: auto;
    border-radius: 0%;
    display: block;
    margin: 0 auto;
}