.main-chicken {
    width: 500px;
    height: auto;
    border-radius: 0%;
    display: block;
    margin: 0 auto;
}

@keyframes pulse-ripple {
    0% {
        border-width: 10px;
        border-color: #39f600;
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.5);
    }
    50% {
        border-width: 15px;
        border-color: rgb(1, 223, 243);
        box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.3);
    }
    100% {
        border-width: 10px;
        border-color: #eb0120;
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.5);
    }
}



